<table>
<tr>
	<td><%= playground.id %></td>
	<td><%= playground.q_responses.count %></td>
	<%= render (playground.game_players) %>
	<% if playground.id == session[:playground_id] %>
	<td>
		<%= button_to 'Go!', new_q_response_path, method: :get, remote: true %>
	</td>
	<% end %>
</tr>
</table>