<% if player.id != 15 %>
<table>
	<tr>
		<td>Games:</td>
		<td>
			<%= player.games %>
		</td>
	</tr>
	<tr>
		<td>Wins:</td>
		<td>
			<%= player.wins %>
		</td>
	</tr>
	<tr>
		<td>In A Row:</td>
	</tr>
	<tr>
		<td>
			<%= player.inarow %>
		</td>
	</tr>
</table>
<% end %>
	
