<script>

$("#q_response_q_time").everyTime(1000,function(i) {
					$(this).val(i);
				});				

</script>

<div style="height:20px"></div>
<div><center><%= @question.stimulus %></center></div>
<div style="height:20px"></div>
<div><center><%= @question.param1 %>+<%= @question.param2 %></center></div>
<div style="height:20px"></div>
<%= render 'form' %>